<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>修改个人信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
       $(function(){
           $("#e_time").datepicker()
           var array = new Array();
           var industry = $('#industry');
           {% if industry_count > 1 %}
               {% set count = 0 %}
               {% for _industry in industry %}
                   array[{{ count }}] = new Array('{{ _industry.id }}','{{ _industry.industry_name }}');
                   {% set count = count + 1 %}
               {% endfor %}
               for (var i = 0; i < array.length; i++){
                   industry_id = "{{ student.industry_id }}";
                   if (array[i][0].toString() == industry_id){
                       industry.append("<option value=" + array[i][0] + " selected>" + array[i][1] + "</option>")
                   }else{
                       industry.append("<option value=" + array[i][0] + ">" + array[i][1] + "</option>")
                   }
               }
           {% else %}
           {% endif %}
       })
    </script>
</head>
<body>

<div class="container">
    <div>
        <h4 style="margin-bottom:5px;font-family: '微软雅黑';color: deepskyblue">专属校友录</h4>
        <div class="navbar-text navbar-right">

         <h3 style="margin-bottom:-10px;font-family: '微软雅黑';color: deepskyblue"> {{ student.stu_name }}</h3>
        </div>

    </div>
    <br>
    <div style="border-top: 40px;border-bottom: 10px">
        <hr>

    </div>

    <div class="jumbotron">
        <form class="form-horizontal"  role="form" action="/change_message/{{ student.id }}" method="POST">
            <div class="navbar-text navbar-right">
            </div>
             <div class="form-group row"  >
         <h5  style="font-size:20px; color:#FE7700; font-weight:bold;">基本信息</h5>
             </div>

      <div class="form-group row">
                  <input type="text" class="form-control" id="username" name="stu_name" placeholder="用户名" value="{{ student.stu_name}}">
    </div>      
<div class="form-group row">
                  <input type="text" class="form-control" id="company" name="stu_company" placeholder="现公司名称" value="{{ student.stu_company}}">
             </div>

            <div class="form-group row">
                   <select name="industry_id" class="form-control" id="industry">

                </select>

             </div>

            <div class="form-group row">
                  <input type="text" class="form-control" id="position" name="stu_position" placeholder="职位" value="{{student.stu_position}}">
             </div>
<div class="form-group row">
                  <input type="text" class="form-control" id="e_time" name="stu_enter_time" placeholder="入学时间" value="{{ student.stu_enter_time}}">
             </div>
             <div class="form-group row " >
         <h5  style="font-size:20px; color:#FE7700; font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;联系方式</h5>
             </div>
             <div class="form-group row">
 <input type="text" class="form-control" id="tel" name="stu_tel" placeholder="手机号码" value="{{ student.stu_tel }}">
             </div>
             <div class="form-group row" >
                  <input type="text" class="form-control" id="mail" name="stu_contact" placeholder="邮箱" value="{{student.stu_contact}}">
             </div>
            <div class="form-group row" >
                  <input type="text" class="form-control" id="QQ" name="account_qq" placeholder="Q Q" value="{{student.account_qq}}">
             </div>
             <div class="form-group row" >
                  <input type="text" class="form-control" id="weixin" name="account_wechat" placeholder="微信号" value="{{student.account_wechat}}">
             </div>


             <div style="text-align: center">
             <button type="submit" class="btn btn-primary btn-lg btn-block">保存</button>
            </div>

        </form>
        <br>
       </div>
 </div>
</div>
</body>
</html>