<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>个人信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body>

    <div style="border-top: 40px;border-bottom: 10px"><hr>

    </div>

    <div class="jumbotron">
        <form class="form-horizontal"  role="form" action="/save_message/{{ student.id }}" method="POST">
            <div class="navbar-text navbar-right">
            </div>


             <div class="form-group row" style="border-top:#006 solid 10px;">
                  <lable style="font-weight:bold; color:#F90; font-size:20px;" >用户昵称</lable>
             </div>
            <div class="form-group row"  style=" font-size:14px;">
                  <lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ student.stu_position }} | {{ student.industry }}</lable>
             </div>
             <div style="border:2px dotted  #999;">
 <div class="form-group row">
                   <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/tel.png"  />&nbsp;手机号码：{{ student.stu_tel }} </h5>
             </div>
          <div class="form-group row">
                 <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/sitatc/img/time.png" />&nbsp;入学时间：{{ student.stu_enter_time }}</h5>
             </div>
			  <div class="form-group row">
                 <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/mail.png"  />&nbsp;个人邮箱：{{ student.stu_contact }}</h5>
             </div>
            <div class="form-group row">
                 <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/com.png"/>&nbsp;公司名称：{{ student.stu_company }}</h5>
             </div> </div>
<br/>




            <div style="text-align:center; line-height:44px;"  >
             <a href ="/change/{{ student.id}}" style=" background-image:url('/static/img/bg.png'); width:240px; height:45px; display:block;  font-size:15px;  font-weight:bold ; text-decoration:none; color:#FCFCFC;
 " >修改个人信息</a>
            </div>

        </form>
        <br>
       </div>
 </div>
</div>
</body>
</html>