<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>个人信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<style>
.pull-right {
  float: right !important;
}
b{ font-size:14px; color:#039; font-weight:100; font-family:'黑体';}
img{ margin-bottom:3px;}
.navbar-text{ margin:0px; padding-top:4px;}
</style>
</head>
<body>
<div class="container">
    <div>
        <h4 style="font-family: '微软雅黑';color: deepskyblue;">专属校友录</h4>
        <div class="navbar-text navbar-right">
         <h3 style="font-family: '微软雅黑';color:#00F;"> {{ student.stu_name }}</h3>
        </div>

    </div>
    <br>


    <div style="border-top: 40px;border-bottom: 10px"><hr>

    </div>

    <div class="jumbotron">
        <form class="form-horizontal"  role="form" action="/change/{{ student.id }}" method="POST">
            <div class="navbar-text navbar-right">
            </div>
        <img src="/static/img/img.jpg"  class="img-thumbnail pull-right">

            <div class="form-group row"  style=" font-size:14px; color:#006; font-family:'黑体';"> 
             <lable>&nbsp;&nbsp;公司名 | 职位</lable>
             </div>
             <div class="form-group row">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/time1.png" />&nbsp;<b>入学时间</b>：{{ student.stu_enter_time }}</h5>
             </div>
             <div class="form-group row">
                 <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/tel1.png"  />&nbsp;<b>手机号码</b>：{{ student.stu_tel }} </h5>
             </div>
              <div class="form-group row">
                 <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/qq.png"  />&nbsp;<b>个人 Q Q</b>：{{ student.account_qq }} </h5>
             </div>
              <div class="form-group row">
                 <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/wei.png"  />&nbsp;<b>微信账号</b>：{{ student.account_wechat }} </h5>
             </div>
			 <div class="form-group row">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/mail1.png"  />&nbsp;<b>个人邮箱</b>：{{ student.stu_contact }}</h5>
             </div>
             
            <div style="text-align:center; line-height:40px; font-family:'微软雅黑'; "  >
            <button type="submit" class="btn btn-default btn-lg btn-block " style="margin-bottom:20px;">修改个人信息</button>
<button type="button" class="btn btn-primary btn-lg btn-block">关注</button>       
            </div>

 </form>
      
       
       
       
 </div>
</div>
</body>
</html>