<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>查找信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
       $(function(){
           $("#e_time").datepicker();
       })
    </script>
    <style>
	.work{
	 font-size:12px;
	}
	h5{ color:#F90;}
	ul{ margin:0; padding:0; border-bottom:1px dashed #999;}
	li{ list-style-type:none; margin:0 10px;}
	.fl{
		float:left;
	}
		.navbar-text{ margin:0px; padding-top:4px;}
.jumbotron{ margin:5px; }
	</style>
</head>
<body>

<div class="container">
    <div>
        <h4 style="font-family: '微软雅黑';color: deepskyblue;">专属校友录</h4>
        

    </div>
    
       <!--按条件搜索-->
    <div class="jumbotron">
        <form class="form-horizontal"  role="form" action="/change_message/{{ student.id }}" method="POST">
            <div class="navbar-text navbar-right">
            </div>
             <div class="form-group row" >
         <h5  style="font-size:20px; color:#FE7700; font-weight:bold;">按条件查找</h5>
             </div>
  <!--下拉-->           
             <div class="btn-group">
 <input type="text" class="form-control" id="e_time" name="e_time" placeholder="入学时间" value="" style="width:95px;">
</div>

   
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    职业选择 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">IT.互联网</a></li>
    <li><a href="#">金融业</a></li>
    <li><a href="#">医疗保健</a></li>
    <li><a href="#">旅游</a></li>
  </ul>
</div>

<div class="btn-group">
<button type="button" class="btn btn-primary" style="width:195px;">搜 &nbsp; 索</button></div>

         <h6  style="font-size:15px; color:#666; font-weight:500; font-family:'黑体'">您也可以输入关键字查找</h6>


    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜索</button>
      </span>
    </div>
  
        </form>
        <br>
       </div>
       <!--按条件查找出来的信息-->   
        <div class="jumbotron">    
       
                <h5  style="font-size:20px; color:#FE7700; font-weight:bold; margin-bottom:26px;">您要找的是不是TA</h5>

            <ul class="ul-group
            ">
            <li class="fl">
            <img src="img/img.jpg" /></li>
           <li> <h5>姜跃平</h5>
                <p class="work">副总裁 | 大众点评</p>
                </li>
            </ul>
            <ul class="ul-group
            ">
            <li class="fl">
            <img src="img/img.jpg" /></li>
           <li> <h5>姜跃平</h5>
                <p class="work">副总裁 | 大众点评</p>
                </li>
            </ul>
            <ul class="ul-group
            ">
            <li class="fl">
            <img src="img/img.jpg" /></li>
           <li> <h5>姜跃平</h5>
                <p class="work">副总裁 | 大众点评</p>
                </li>
            </ul>

 </div></div>
</div>
</body>
</html>