<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>查找信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
       $(function(){
           $("#e_time").datepicker();
       })
    </script>
    <style>
	.work{
	 font-size:12px;
	}
	h5{ color:#F90;}
	.fl{
		float:left;
	}
	li{ list-style-type:none;}
	</style>
</head>
<body>

<div class="container">
    <div>
        <h2 style="margin-bottom:5px;font-family: '微软雅黑';color: deepskyblue">专属校友录</h2>
        <div class="navbar-text navbar-right">
        <h4 style="margin-bottom:-10px;font-family: '微软雅黑';color: deepskyblue"> </h4>
        </div>

    </div>
    <br>
    <div style="border-top: 40px;border-bottom: 10px">
        <hr>

    </div>

    <div class="jumbotron">

            <div class="navbar-text navbar-right">
            </div>
             <div class="form-group row">
             <h5  style="font-size:20px; color:#FE7700; font-weight:bold;">按条件查找</h5>
             </div>

      <form name = "search"  class="form-horizontal"  role="form"  method="POST" action="/vague_search"  style="padding-bottom:30px;">

        <div class="form-group " style="width:43%;  height:50px; float:left; margin-right:20px;">
           {% if industry_count == 0  %}
             {% elif industry_count == 1 %}
              <select class="form-control" name="trade" style="width:100%;">
                      <option value="{{ industry.id }}">{{ industry.industry_name }}</option>
             </select>
            {% else %}
                <select class="form-control" name="trade" style="width:100%;">
                   {% for i in industry %}
                      <option value="{{ i.id }}">{{ i.industry_name }}</option>
                   {% endfor %}
                 </select>
           {% endif %}
        </div>
       <div class="form-group "  style="width:33%; height:50px; float:left; margin-right:10px;" >
              <input type="text" class="form-control" id="para" name="para" placeholder="输入关键字" value=""   style="margin-right:10px;" >
       </div>
        <div class="form-group row"  style="width:23%;  height:50px; float:left; " >
           <button type="submit" class="btn btn-primary" style="margin-left:10px; margin-bottom:13px; width:100%;" >搜索</button>
         </div>
     </form>

  </div>

  <div class="jumbotron">
       <h5  style="font-size:20px; color:#FE7700; font-weight:bold;">查找结果</h5>
    {% if student_count == 0 %}
    <div>

    </div>
    {% elif student_count == 1 %}
    <!--按条件查找出来的信息-->
      <div>
            <ul class="ul-group">
            <li class="fl">

        {% if student_selected.avatar_img_url %}
        <img src="{{ student_selected.avatar_img_url }}" width="42px" height="39px"  class="img-thumbnail pull-right">
        {% else %}
            <img src="/static/img.img.jpg"  class="img-thumbnail pull-right">
        {% endif %}
            <li> <h5>{{ student_selected.stu_name }}</h5>
                <p class="work">{{ student_selected.stu_position }}| {{ student_selected.stu_company}}</p>
            </li>
            </ul>
      </div>
    {% else %}
        {% for s in student_selected %}
      <div>
           <ul class="ul-group">
            <li class="fl">
            {% if student_selected.avatar_img_url %}
           <img src="{{ student_selected.avatar_img_url }}" width="42px" height="39px"  class="img-thumbnail pull-right">
           {% else %}
            <img src="/static/img.img.jpg"  class="img-thumbnail pull-right">
           {% endif %}
            <li> <h5>{{ s.stu_name }}</h5>
                <p class="work">{{ s.stu_position }}| {{ s.stu_company}}</p>
                </li>
            </ul>
       </div>
         {% endfor %}

    {% endif %}

   </div>
 </div>
</body>
</html>